.vscode/
bazel-*
*.swp
*.o
*.log
*.so
*.a
*.dylib
CMakeCache.txt                                                                                                           
CMakeFiles
CMakeScripts

build/
/cmake-build-debug/
.idea
*.si4project


CMakeLists.txt
